// ---------------------------------------------------------------
// Base
// ---------------------------------------------------------------
//  $total: 8;
// $col: 3;

// @function column-width() {
//   @return percentage($col/$total);
// }

// width: column-width();
body {
  background: $primary-background;
}

header {
  background: #ccc;
  height: 20vh;
}
footer {
  background: #ccc;
}
.active {
  color: red;
}
