@charset 'UTF-8';
// ---------------------------------------------------------------
// Variables
// ---------------------------------------------------------------

$primary-background: #333;
$navbar-bg-color: #11aa66;
$navbar-text-color: #95ebca;
$navbar-active-text-color: black;
$custom-navbar-brand-color: #11aa66;
$custom-navbar-bg-color: #fffffa;
$custom-navbar-text-color: #11aa66;
$custom-navbar-active-text-color: #11aa66;
